.content {
    background: white;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pictures {
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
}

.img-1 {
    background-image: url(../../Assets/Icon_Arcane.png);
    height: 95%;
    width: 30%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-2 {
    background-image: url(../../Assets/Icon_Axe.png);
    height: 95%;
    width: 30%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-3 {
    background-image: url(../../Assets/Icon_BomberBow.png);    
    height: 95%;
    width: 30%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
}

.img-4 {
    background-image: url(../../Assets/Icon_CarpenterAxe.png);    
    height: 95%;
    width: 30%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-5 {
    background-image: url(../../Assets/Icon_CopperSword.png);    
    height: 95%;
    width: 30%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-6 {
    background-image: url(../../Assets/Icon_ThorneBow.png);
    height: 95%;
    width: 30%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

