.image-container {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
}

.content-break {
    width: 100vw;
    height: 10px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.content-break span {
    width: 80%;
    height: 2px;
    background: black;
}

.img1 {
    background-image: url('../../Assets/ArcherCharacter.png');
    width: 20%;
    height: 40vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.img2 {
    background-image: url('../../Assets/RogueCharacter.png');
   width: 20%;
    height: 40vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url('../../Assets/MageCharacter.png');
    width: 20%;
    height: 40vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.img4 {
    background-image: url('../../Assets/MinerCharacter.png');
    width: 20%;
    height: 40vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.about-container {
    height: 100vh;
    width: 100%;
    background-image: url('../../Assets/campfire.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    z-index: -5;
}