.navbar-container {
    height: 80vh;
    width: 100vw;
}

.links {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.links  a {
    color: white;
    text-decoration: none;
    
}

.logo-container {
    background-image: url('../../Assets/SnMNewLogo.png');
    width: 5vw;
    height: 8vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    height: 10%;
    background: rgba(163,82,205,.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.popup-container {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.popup-btn {
    position: fixed;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: white;
    outline: none;
    border: none;
    background: rgba(163, 82, 205, .7);
    right: 2%;
    top: 3%;
    animation: slide-in linear 300ms;
    z-index: 10;
}

.slideOut {
    position: fixed;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: white;
    outline: none;
    border: none;
    background: purple;
    right: 2%;
    top: 3%;
    animation: slide-out linear 300ms;
}

/* Animations */
@keyframes slide-in {
    0% {
        right: -10%
    }
    100% {
        right: 2%
    }
}

